<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Job Vacancies Portal</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <h1>Job Vacancies Portal</h1>
    <p>Find jobs and apply easily.</p>

    <a href="/jobs" class="btn">View Jobs</a>
  </div>
</body>
</html>