<!DOCTYPE html>
<html>
<head>
  <title><%= title || 'Job Vacancies' %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/jobs">Jobs</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>
  </nav>

  <main>
    <%- body %>
  </main>
</body>
</html>
